h1 {
  color: #5d49f1;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
}





a{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px 40px;
    font-size: 1.5rem;
    color: dodgerblue;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.2s ease-in;
    text-align: center;
    font-weight: bold;
}


a:hover{ 
    background-color: aqua;
    color: black;
    
}